  <ul id="slide-in" class="side-nav fixed">
    <li id="side-logo" class="logo disabled"><a  href="#!" class="brand-logo">Book-tag</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#!"><i class="material-icons">person_outline</i>UserMenu</a></li>
    <li><a href="/data"><i class="material-icons">book</i>Data</a></li>
    <li><a href="/tag"><i class="material-icons">local_offer</i>Tag</a></li>
    <li><a href="#!"><i class="material-icons">show_chart</i>Chart</a></li>
     <li><a href="/"><i class="material-icons">exit_to_app</i>Logout</a></li>
   </ul>
  